*{
    margin: 0;
}
body {
    overflow: hidden;
}
a {
    color: black;
    text-decoration: none;
}
.fa-solid, .fa-regular {
    cursor: pointer;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: gray;
    background-color: green;
    padding: 0.5rem 1rem;
}
nav a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}
main {
    background-image: url('./asset/Designer1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    overflow-y: auto;
    transition: filter 1.2s;
}
#searchBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#searchBox label {
    font-size: 2.2rem;
    margin: 0.5rem 0;
}
#searchBox input {
    width: 60vw;
    height: 3rem;
    border: 0;
    padding: 0 10px;
    font-size: 1.1rem;
    border: 2px solid gray;
    border-radius: 2rem;
}
#searchBox i{
    font-size: 2rem;
    margin: 0;
}

#details {
    width: 100%;
    height: max-content;
    background-color: lightgray;
    position: relative;
}

#details [data-id]{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}

#top-div {
    display: flex;
    justify-content: space-evenly;
}

#img-div {
    width: 28%;
}

#details img {
    width: 100%;
    border-radius: 20px;
}

#name-div {
    width:34%;
    min-width: 460px;
    font-size: 24px;
}

#details h3 {
    color: green;
    font-size: 28px;
}

#details ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 280px;
    font-size: 18px;
    line-height: 28px;
}

#icon-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.8rem;
}

#closeDetails {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
}

#instruction-div {
    padding: 20px;
    text-align: justify;
}

.hideDetails {
    display: none;
}

.showDetails {
    display: flex;
}

#no-data {
    margin-top: 40px;
    font-size: 4rem;
}
#results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: ; */
    width: 100vw;
}
/* #results .card { */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 260px;
    max-width: 70vw;
    height: 400px;
    /* max-height: 80vw; */
    margin: 10px;
    box-shadow: 0 0 18px darkgreen;
    border-radius: 20px;
}
.card .mealImg {
    width: 92%;
    height: 60%;
    border-radius: 18px;
    margin: 4% 0;
}
.mealImg img {
    /* width: 100%; */
    height: 100%;
    background-size: cover;
    border-radius: 12px;
}
.card .mealInfo{
    width: 92%;
    height: 20%;
    margin: 4%;
    overflow: auto;
}
.card .mealInfo h4 {
    font-size: 1.4rem;
    color: white;
}
.card .mealInfo p {
    margin-bottom: 0;
    text-align: justify;
}
.card .mealOption{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
}
.card .mealOption i {
    font-size: 2rem;
    color: rgb(201, 201, 201);
}

aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    transition: right 1.2s;
    /* overflow: auto; */
}

.sideBarOn {
    width: 300px;
    right: 0;
    background-color: yellowgreen;
}

.sideBarOff {
    width: 300px;
    right: -300;
}
.blur {
    filter: blur(6px);;
    opacity: 1;
}

#favourites {
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: auto;
}

/* #favourites .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
} */

/* @media only screen and (max-width: 560px) {
    body {
        background-image: url('Designer1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #results .card {
        width: 80%;
        height: 100%;
        max-width: 90%;
    }
    .card .mealImg {
        width: 100%;
        height: 40%;
    }
    .card .mealImg img {
        height: 100%;
        width: 100%;
    }
    .card .mealInfo {
        height: 42%;
    }
} */